#head{
    background-color: yellow;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.eyes{
    position:relative;
    top: 30px;
    display:flex;
}
.eye{
    background-color: white;
    border-radius: 50%;
    width: 50px; 
    height: 50px;
    display: flex;
    margin: 25px;
    position:relative;
}

.pupils{
    background-color: black;
    width:30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left: 12px;
}

.ears{
    position: relative;
}
.ear{
    border-radius: 90% 0 90% 0;
    background-color: yellow;
    height: 100px;
    width: 100px;
    position:absolute;
}

.left_ear{
    transform: scale(-1,1);
    left:0;
}

.right_ear{
    left:100px;
}

.nose_section{
    position: relative;
    top: 10px;
}

.nose{
    background-color: pink;
    width: 20px;
    height: 20px;
    border-radius: 80% 80% 40% 40%;
    left: 98px;
    position: absolute;
    top: 115px;
}

.mouth_section{
    position: relative;
    top: 50px;
}

.mouth{
    position: absolute;
    background-color: red;
    width: 50px;
    height: 20px;
    left: 82px;
    border-radius: 30% 30% 70% 70%;
    top: 155px;
}

.whiskers{
    position: relative;
    top: 15px;
}
.whisker{
    position: absolute;
    width: 80px;
    height: 2px;
    background-color: black;
}

.right_whisker{
    left: 120px;
}
/* transform: rotate(5deg); */